<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links</title>
    <link rel="stylesheet" href="../static/css/links.css">
    <link rel="shortcut icon" href="../static/images/icon.png" type="image/x-icon">
</head>
    <div class="topnav">
        <a href="/Home">Home</a>
        <a href="/About">About</a>
        <a href="/Contact">Contact</a>
        <a href="/Links">Links</a>
    </div>
    <h1>
        <center><b>LINKS</b></center>
    </h1>
    <div class="container">
      
    </div>  
</html>
